.card {
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    border-inline-color: black;
    border: 1px solid black;
    min-height: 400px;
    min-width: 300px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    justify-content: space-around;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background-color: white;
    flex-direction: column;
}

.card .product-image {
    width: 230px;
    margin: 20px auto;
}

.card .product-image img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.card .product-image img:hover {
    transform: scale(1.1);
}

.card .product-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.card .product-info h4 {
    text-align: center;
    text-overflow: ellipsis;
    max-width: 250px;
}

.card .product-info h4:nth-child(2) {
    color: grey;
}

.button-container__delete {
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: rgb(255, 64, 0);
    border-radius: 10px;
    font-size: 16px;
    font-weight: 100;
    box-sizing: border-box;
    border: 2px solid rgb(255, 64, 0);
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    appearance: none;
    margin: 0;
    outline: none;
    padding: 10px 20px;
    transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
    transform: translateY(-2px);
}
